name: Historical Stock Scan
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Tools
        run: |
          python -m pip install --upgrade pip
          pip install nsefin pandas requests

      - name: Run History Fetcher
        run: python get_history.py

      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: Trading-History
          path: "*.csv"
